@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");


body {
  font-family:"Comic Neue", cursive;
  box-sizing: border-box;
  margin-top: 100px;
}

h1 {
  font-size: 3rem;
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  width: 60%;
  justify-content: space-evenly;
  margin: auto;
  border: 1px solid lightgray;
  padding: 20px;
  box-shadow: 5px 5px lightgray;
}

.ref {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1px;
}

.left h2 {
  padding: 10px;
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: flex-end;
  margin-left: 10px;
}

.display-scores {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 2px solid black;
}

.display-scores li {
  margin-bottom: 2px;
}

.display-scores li:nth-child(even) {
  background-color: rgb(222, 228, 230);
}

.input {
  width: 100%;
  border: 2px solid black;
}

.input:focus{ 
   box-shadow: 3px 3px gray;
   font-size: 15px;
}

.listItem{
  padding: 5px;
}

button{
  box-shadow: 4px 4px rgb(176, 176, 176);
  color: #111010;
  background-color: rgb(198, 194, 194);
  padding: 3px;
  font-family:"Comic Neue", cursive;
  font-weight: 400;
  font-size: 20px;

}